.pagination {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  
  a,
  span {
    display: inline-block;
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    font-weight: 600;
    font-size: 14px;
    padding: 7px;
    margin: 3px;
    border: #B8B8B8 solid 1px;
    border-radius: 4px;
    color: #000;
    vertical-align: middle;
  }

  .first-page,
  .last-page {
    background: rgba(121, 205, 240, 0.32);
  }

  .left-page,
  .right-page {
    background: rgb(121, 205, 240);
    border-color: darken(rgb(121, 205, 240), 20%);
    font-size: 24px;
    padding: 1px 9px;
    text-align: center;
  }

  .left-elipsis,
  .right-elipsis {

  }

  .current-page {
    color: #000;
    background: transparent;
    border: 0;
  }
}
