.pagination {
  width: 100%;
  text-align: center;

  a,
  span {
    display: inline-block;
    padding: 5px;
    color: #AEAEAE;
    font-size: 16px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  .current-page {
    color: #5B5B5B;
  }
}
