<!DOCTYPE html>
<html>
  @@include('../src/partials/_head.html', {"title": "OTG Eventbrite Boilerplate"})
  <body>
      @@include('../src/partials/_navbar.html')
      <div class="content-wrapper event-page">

        <!-- LOADING EVENTS #loadingEvents -->
          <div id="loading" class="loading-events">
            <i class="fa fa-spinner fa-pulse"></i><p>Searching...</p>
          </div>

        <!-- MAIN EVENTS LIST -->
          <section id="eventSection" class="main-events-section"></section>

        @@include('../src/partials/_footer.html')
      </div>

      <!-- MAIN SCRIPTS -->
        <script src="js/constants.js"></script>
        <script src="js/inits.js"></script>

      <!-- SERVICES -->
        <script src="js/services/events.js" type="text/javascript"></script>

      <!-- CONTROLLERS -->
        <script src="js/controllers/event.js" type="text/javascript"></script>
  </body>
</html>
