<!DOCTYPE html>
<html>
  @@include('../src/partials/_head.html', {"title": "Eventbrite Boilerplate"})
  <body>
    <div class="body-wrapper">
      @@include('../src/partials/_navbar.html')
      @@include('../src/partials/_header.html')
      <section class="homepage-content">
        <h1>Lorem Ipsum Dolor Sit Amet</h1>
        <article>

        </article>
      </section>
      @@include('../src/partials/_footer.html')
      @@include('../src/partials/_scripts.html')
    </div>
  </body>
</html>
