<!DOCTYPE html>
<html>
  @@include('../../src/partials/_head.html', {"title": "Plantnite"})
  <body>
    <div class="body-wrapper">
      @@include('../../src/partials/_navbar.html')
      <section class="event-wrapper">

      </section>
      @@include('../../src/partials/_footer.html')
      @@include('../../src/partials/_scripts.html')

      <script src="js/eventbrite.js" type="text/javascript"></script>

      <script>
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null){
               return null;
            }
            else{
               return results[1] || 0;
            }
        }

        var eventID = $.urlParam('id');

        loadSingleEvent('https://www.eventbriteapi.com/v3/events/' + eventID + '/?token=TE3CTSXN4VRNAQR2YHXR');

      </script>
    </div>
  </body>
</html>
