<aside>
  <label>Sort By: </label>
  <select id="sortByOption">
    <option value="id">Event ID</option>
    <option value="date">Event Date (ascending)</option>
    <option value="-date">Event Date (descending)</option>
    <option value="name">Event Name</option>
    <option value="city">Event City</option>
    <option value="distance">Event Distance</option>
    <option value="best">Best</option>
  </select>
  <label>Near Location: </label>
  <input type="text" id="nearLocation" placeholder="Enter address">
  <button id="searchBtn">search</button>
</aside>
